body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.info-column, .image-column {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 8px;
}

.info-column {
    max-width: 400px;
}


select, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


h2, h3 {
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

#cat-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
