@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

.gradient-custom {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(124, 126, 129, 0.9), rgba(72, 79, 90, 0.9));
    }
  
  header.nav-fixed {
      width: 100%;
      position: fixed;
      transition: 0.3s ease-in-out;
  }
  
  .nav-active {
      background-color:#fff;
      box-shadow: 5px -1px 12px -5px grey;
  }
  
  nav {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }

.musicsection {
    background-color: black;
}

.catssection {
    background-color: black;
}